{% extends 'base.html' %}
{%block title%}PM/Bike 수요 예측{%endblock%}
{%block content%}
<body>
    <div class="content">
    <h3>행정구별 대표역 5개 공공자전거 예상 수요량</h3>    
    <h3>{{ gu }} 대표역 5개 그래프</h3>
    {% for img in img_list %}
        <div style="margin-bottom:20px;">
            <img src="{{ url_for('static', filename=img) }}" style="width:600px;height:300px;">
            <div style="text-align:center;">{{ img }}</div>
        </div>
    {% endfor %}
    {% if not gu %}
    <p>해당 행정구의 이미지가 없습니다.</p>
    {% endif %}
    <!-- <a href="/" class="back-link">메뉴로 돌아가기</a> -->
    </div>
    <div class="'home">
    <a href="/" class="btn d-inline-flex align-items-center custom-home-button">
    <i class="bi bi-house-door-fill me-2"></i> Back to menu
    </div>
</body>
{%endblock%}
